:root {
  --content: Poppins;
  --head: Playful Display;
}
.hello-mf {
  font-family: var(--content);
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  padding-top: 194.18px;
}
.name-hp {
  font-family: var(--head);
  font-weight: 700;
  font-size: 96px;
  line-height: 127.97px;
  text-align: center;
}
.font-small {
  font-family: var(--content);
  margin-top: 24px;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 49px;
}
.purple {
  background: #f9f7fe;
  width: 100%;
}
#contact-me {
  text-decoration: none;
  font-family: var(--content);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 46px;
  background: #6c63ff;
  color: white;
  border-radius: 4px;
  text-align: center;
  max-width: 200px;
  border-radius: 4px;
  margin-bottom: 271px;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}
.color {
  background: #f9f7fe;
}
.text-pr {
  font-family: var(--content);
  line-height: 27px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding-top: 127px;
  padding-bottom: 82px;
}
.yogurt-project {
  margin-bottom: 70px;
}
.weather-project {
  margin-bottom: 60px;
}
.dictionary-project {
  margin-bottom: 132px;
}
.yog-name {
  font-family: var(--head);
  line-height: 85.31px;
  font: bold;
  font-weight: 700;
  font-size: 64px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-family: Playful Display !important;
}
.text1 {
  padding-top: 95px !important;
}
.yog-text {
  margin-top: 55px !important;
  font-family: var(--content);
  font-weight: 400;
  list-style: 30px;
  font-size: 16px;
  color: rgba(39, 33, 66, 0.7);
  margin-bottom: 50px;
}
.view1 {
  border: 1px solid #6c63ff;
  border-radius: 4px;
  text-align: center;
  padding: 18px 30px;
  text-decoration: none;
  color: #6c63ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--content);
}
.view1:hover {
  text-decoration: none;
  color: white;
  background: #6c63ff;
}
.social-media {
  margin-bottom: 133px;
  margin-top: 41px;
  display: flex;
  justify-content: center;
}
.twitter {
  margin-right: 33px;
  margin-left: 33px;
}
.my-mail {
  text-decoration: none;
  font-family: var(--content);
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 81px;
}
.my-mail:hover {
  text-decoration: none;
  color: #6c63ff;
}
.purple2 {
  background: #f9f7fe;
  margin-left: 67px;
  margin-right: 213px;
}
.work-text {
  padding-top: 49px;
  padding-bottom: 42px;
  margin-left: 107px;
}
.lets-talk {
  color: white;
  background: #6c63ff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 18px 30px;
  max-width: 200px;
  text-decoration: none;
  text-align: center;
  margin-right: 91px;
  margin-top: 71px;
  margin-bottom: 66px;
  margin-left: 271px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--content);
  font-style: normal;
}
.lets-talk:hover {
  text-decoration: none;
  color: #6c63ff;
  background: white;
  border: 1px solid #6c63ff;
  border-radius: 4px;
}
.work-inquiry {
  font-family: var(--head);
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: black;
  margin-bottom: 18px;
}
.lets-work {
  font-family: var(--content);
  color: rgba(39, 33, 66, 0.7);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
@media (max-width: 900px) {
  .my-mail {
    font-size: 16px;
  }
  .hello-mf {
    font-size: 24px;
    padding-top: 96px;
  }
  .name-hp {
    font-size: 48px;
    line-height: 64px;
  }
  .purple {
    padding: 80px 20px;
  }
  .purple2 {
    padding: 4px;
    margin: 4px;
  }
  #contact-me {
    margin-bottom: 64px;
  }
  .purple2 {
    margin-left: 16px;
    margin-right: 30px;
  }
  .lets-talk {
    font-size: 16px;
    padding: 18px 30px;
  }
  .yogurt-project {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  .weather-project {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  .dictionary-project {
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    margin-right: 8%;
    margin-left: 8%;
  }
  .text1 {
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 8%;
    margin-left: 8%;
  }
  .lets-talk {
    display: flex;
    justify-content: center;
    margin: 16px 8px;
    max-width: 80%;
  }
  .work-text {
    text-align: center;
    padding: 4px;
    margin: 4%;
  }
  .work-inquiry {
    font-size: 24px;
    line-height: 36px;
  }
  .lets-work {
    font-size: 14px;
    line-height: 18px;
  }
  .text-pr {
    display: flex;
    justify-content: center;
    margin-right: 8%;
    margin-left: 8%;
  }
} ;
